<form class="border border-dark formulaire" (ngSubmit)="formSubmit()">
    <div class="row">
        <div class="col text text-center p-2 mb-3 bg-light">
            <span class="fs-3">New Product</span>
        </div>
    </div>
    <div class="row">
        <div class="col ps-3 mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" name="name" matInput  [(ngModel)] = "product.name">
        </div>
        <div class="col ps-3 mb-3">
            <label for="number" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" [(ngModel)] = "product.quantity">
        </div>
        <div class="col ps-3 mb-3">
            <label for="number" class="form-label">Price</label>
            <input type="number" class="form-control" name="price"  [(ngModel)] = "product.price">
        </div>
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary ">Add</button>
            </div>
        </div>
    </div>
</form>

