<div class="container">
  <div>
    <button mat-button  [routerLink]="['/add-customer']" class="save-button" >New Customer</button>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th> <th>Name</th> <th>Email</th><th>Action</th>
    </tr>
    </thead>
    <tbody  *ngIf="customers">
    <tr *ngFor="let p of customers._embedded.customers">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.email}}</td>
      <td>
        <button mat-button  class="delete-button" (click)="deleteCUstomer(p.id)">Delete</button>
      </td>
    </tr>
    </tbody>

  </table>

</div>
